.parent {
    background-color: whitesmoke;
    padding: 2cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.parent .body {
    display: flex;
    flex-direction: row;
}
.parent .body .body-1 .top  {
    background-color: rgba(121, 172, 255, 0.789);
    width: 50%;
    height: 5cm;
    padding: 1cm;
    margin: 1cm;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;

}
.parent .body .body-1 .bot {
    width: 90%;
}
table {
    width:auto; 
    height: max-content;
    background-color: whitesmoke;
}
td {
    border-bottom: dotted;
    border-color: red;
}
.td1{ 
    border-bottom: none;
}
.left {
    width: 2cm;
    height:2cm;
    background-color: rgb(241, 109, 217);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10%;
}
.right{ 
    padding-left: 1cm;
}
